/* General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Wrapper to contain the entire content */
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Main content should take all available space */
main {
    flex: 1;
} 

iframe.introductionVideo { 
    margin: 10px 50px 10px 100px; 
    width: 85%; 
    height: 400px; 
    padding-top: 5px; 
    padding-bottom: 5px;

}

/* Header styles */
header.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: lightsalmon;
    border: 2px solid lightgreen;
    z-index: 1000; /* Ensure the header stays on top */
    overflow: hidden; /* Ensures the header contains the floated elements */
    height: 150px;
}

/* Logo styles */
.logo {
    float: left;
    padding: 10px;
    margin: 5px;
    width: 100px;
    height: 100px;
}

/* H1 styles */
h1 {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* Navigation and article container */
.content-container {
    display: flex;
    flex-wrap: wrap;
} 

h3 {
    background-color: blue; 
    color: wheat; 
    margin: 25px 50px 10px 100px; 
    width: 85%; 
    height: 35px;
    text-align: center; 
    padding-top: 20px; 
    padding-bottom: 10px;
} 

/* Navigation styles */
nav {
    flex: 0 0 15%; /* 30% width for the nav */
    background: #ccc;
    padding: 20px;
}

/* Article styles */
article {
    flex: 1; /* Takes the remaining space, i.e., 70% */
    padding: 20px;
    background-color: #f1f1f1;
}

/* Fieldset styles */
fieldset {
    background-color: lightskyblue;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    width: 30%;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 45%;
    margin: 5px;
    padding: 5px;
    box-sizing: content-box;
}

input[type="checkbox"] {
    width: 20px;
}

input[type="submit"] {
    width: 15%;
    margin-top: 10px;
    float: right;
}

div.output {
    width: 75%;
    height: 2px;
    padding: 10px 30px 50px 50px;
    margin: 15px 5px;
    background-color: azure;
}

/* Footer styles */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: auto; /* Pushes the footer to the bottom */
}



div.contactsInfo { 
    flex: 0 0 40%;
    padding: 20px; 
    margin-left: 30px;
} 


div.contactsFormSection {
    flex: 1; /* Takes the remaining space, i.e., 70% */
    padding: 20px;
    background-color: #f1f1f1;
} 


div.contactsForm {
    background-color: lightskyblue;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 5px 5px 5px 5px;
    width: 80%;
} 


.validateFormError {
    font-size: 14px; 
    color: red; 
    font-weight: bold;
}